@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо!</h1>
    <p>Дізнатися більше про <a href="https://docs.microsoft.com/aspnet/core">побудову веб-додатків з використанням ASP.NET Core</a>.</p>
</div>
