@{
    ViewData["Title"] = "Головна сторінка";
}


<h1>Вітаємо!</h1>

<hr />
<div> <strong>MyOrganizer</strong> - багатокористувацький веб-додаток для онлайн-зберегання списку справ</div>
<br/>
<p>Зареєструйтеся або увійдіть у систему для користування додатком</p>