@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо!</h1>
    <div class="text_wrapper"> <strong>MyOrganizer</strong> - багатокористувацький веб-додаток для онлайн-зберегання списку справ для багатьох користувачів. Для користування необхідно зареєструватись.</div>
    
    
</div>
